<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        nav a {
            color: #ae2f4a;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;

        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar bg-light">
            <div class="">
                <img src="../static/searching-bar.png" class="img-fluid" alt="nav-bar-pic" width="30" height="24">
                <a href="{{ url_for('index') }}">About</a>
                <a href="{{ url_for('show_students') }}">Student Attendance</a> 
            </div>
        </nav>
        
        <div class="content">
            <div class="container">
                <br>
                <h2>
                  Hi everyone, this is my first flask app!
                </h2>
                <hr>
                <p>click on the nav bar to show all studets attendance.</p>
              </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    </div>
    
</body>
</html>

