{% extends 'base.html' %}


{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {%for i in students%}
            <th scope="row">{{i[0]}}</th>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
          </tr>
        {%endfor%}
        <tr>
      </tbody>
</table>
{% endblock %}